.App {
  text-align: center;
  color: white;
}

.control-btns {
  max-width: 400px;
  margin: auto;
}

.control-btn, .control-btn:focus, .control-btn:active {
  width: 90px;
  background-color: #FF606E;
  color: white;
  outline: none;
  font-size: 17px;
}

.generation-label {
  font-size: 20px;
  padding: 4px;
}

.square-value-0 {
  background-color: #262C3A;
}

.square-value-1 {
  background-color: #FF606E;
}

.board-row {
  margin: -5px;
}

.board-square {
  width: 15px;
  height: 15px;
  border-top: .25px solid #cccccc;
  border-left: .25px solid #cccccc;
  border-bottom: 0;
  border-right: 0;
  cursor: default;
}

.board-square:last-child {
  border-right: .25px solid #cccccc;
}

.board-row:last-child .board-square {
  border-bottom: .25px solid #cccccc;
}

.board-square:focus {
  outline: none;
}

.board-square:hover {
  cursor: default;
}

.board-square:active {
  outline: none;
}

.board {
  margin-top: 20px;
}

